# Laravel
/vendor
/node_modules
/public/hot
/public/build
/build
index.php

/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

/storage/*.key
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep

.env

# TypeScript
*.tsbuildinfo

# Docker & OS
.docker/
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

*.js
